:root {
  --font-size-base: 20px;
  --color-font-grey: #313131;
  --color-font-red: #f54932;
  --color-font-blue: #3057a2;
  --btn-hover: #fbce51;
  --background-footer: #E9DED4 ;
}

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

.page {
  font-family: "Golos Text", sans-serif;
  color: var(--color-font-grey);
}

h1 {
  font-family: "Merriweather", serif;
}

a {
  text-decoration: none;
}

.df {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 1222px;
  box-sizing: content-box;
  margin: 0 auto;
}

/* section-cover */

.section-cover_background {
  height: 700px;
  background-image: url("./../images/main_baner.png");
  background-position-x: 50%;
}

.section-cover_background img {
  margin-top: 26px;
}

.section-cover_background h1 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 60px;
  line-height: 6px;
  margin-top: 86px;
}

.section-cover_background h1 p:nth-child(2) {
  padding-left: 91px;
}

.section-cover_background h1 p:nth-child(3) {
  padding-left: 34px;
}

.section-cover_background h4 p {
  font-size: 18px;
  font-weight: 300;
  line-height: 0px;
  padding-left: 29px;
}

.section-cover_background h4 p:nth-child(1) {
  padding-left: 54px;
}

.section-cover_btns button {
  width: 263px;
  height: 72px;
  margin-top: 40px;
  padding-top: 13px;
  border-radius: 66px;
  font-size: 16px;
  line-height: 2px;
}

.section-cover_btns a:nth-child(1) button {
  background-color: black;
  color: #ffffff;
  border: none;
  margin-right: 16px;
}

.section-cover_btns a:nth-child(2) button {
  background-color: transparent;
  border: 1px solid black;
}

.section-cover_btns a:nth-child(1) button:hover {
  background-color: var(--btn-hover);
  color: black;
}

.section-cover_btns a:nth-child(2) button:hover {
  background-color: black;
  color: white;
}

.section-line {
  height: 60px;
}

/* section-support  */

.section-support h1 {
  /* font-size: 36px; */
  max-width: 500px;

  font-weight: normal;
  line-height: 15px;
  text-transform: uppercase;
}

.section-support_idea {
  display: flex;
  justify-content: space-between;
  margin-top: 107px;
  margin-bottom: 92px;
}

.section-support_idea h1 p:nth-child(3) {
  color: var(--color-font-red);
}

.section-support_price {
  display: flex;
  margin-bottom: 200px;
}

.section-support_price img {
  margin-left: -33px;
  margin-top: -63px;
  margin-right: 20px;
}

.section-support_price_rigth h1 span {
  color: var(--color-font-red);
}

.section-support_price_rigth h1 p {
  color: var(--color-font-red);
}

.section-support_table {
  width: 704px;
  font-size: 20px;
  margin-top: 60px;
  border-collapse: collapse;
}

.section-support_table tr {
  border-bottom: 2px solid #dddddd;
}

.section-support_table tr td:nth-child(1) {
  border-right: 2px solid #dddddd;
  width: 307px;
  text-align: left;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 16px;
}

.section-support_table tr td:nth-child(2) {
  color: black;
  padding-left: 16px;
  font-weight: 500;
}

.section-support_table tr td:nth-child(2) span {
  text-decoration: line-through var(--color-font-red);
}

.section-support_table tr:nth-child(5) {
  border-bottom: none;
}

.section-support_price_rigth a p  {
  font-size: 20px;
  color: var(--color-font-blue);
  margin-top: 48px;
}

.section-support_price_rigth a {
  text-decoration: none;
}

/* section-stages */

.section-stages_title h1 {
  font-size: 54px;
  font-weight: normal;
  text-transform: uppercase;
}

.section-stages_title-df {
  display: flex;
}

.section-stages_title-df p {
  font-size: 20px;
  line-height: 2px;
  margin-left: 20px;
  color: var(--color-font-blue);
  font-weight: 500;
}

.section-stages_items {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 54px;
  position: relative;
}

.aircraft {
  position: absolute;
  right: -63px;
  top: 171px;
}

.section-stages_item3 {
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.section-stages_item7 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
}

.section-stages_item7 p {
  max-width: 410px;
}

.section-stages_item {
  display: flex;
  font-size: 20px;
  font-weight: 500;
  background-image: url("./../images/Background.png");
  padding-left: 20px;
  padding-right: 20px;
  min-height: 112px;
}

.section-stages_item img {
  width: 36px;
  height: 36px;
  margin-top: 20px;
  margin-right: 16px;
}

/* section-participants */

.section-participants {
  margin-top: 172px;
  margin-bottom: 140px;
  overflow: hidden;
}

.section-participants_title h1 {
  font-size: 54px;
  text-transform: uppercase;
  font-weight: 500;
}

.section-participants_title button {
  border: none;
  background-color: white;
}

.section-participants_btns p {
  margin-left: 17px;
  margin-right: 17px;
}


.section-participants_items {
  display: flex;
  margin-top: 88px;
}

.section-participants_item {
  height: 462px;
  text-align: center;
  margin-right: 18px;
  padding-left: 37px;
  padding-right: 37px;
}

.section-participants_item  h1{
  font-size: 24px;
  margin-top: 28px;
}

.section-participants_item  p{
  font-size: 20px;
  margin: 0;
  margin-bottom: 20px;
  flex-shrink: 0;
}

.section-participants_item button {
  width: 113px;
  height: 35px;
  background-color: white;
  font-weight: 500;
  border: 1px solid var(--color-font-blue);
  border-radius: 62px;
  color: var(--color-font-blue);
}

.section-participants_item button:hover {
  background-color: var(--color-font-blue);
  color: white;
}

.section-footer {
  padding-top: 40px;
  height: 150px;
  background-color: var(--background-footer);
}


/* @media (max-width: 1200px) {
  .section-support_idea {
    display: block;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0 auto;
    text-align: center;

  }
} */

/* @media (max-width: 985px) {
  .section-support_idea h1{
    font-size: 28px;
  }
} */

@media only screen and (max-device-width: 1200px){

  .section-support {
    /* width: 500px; */
    /* max-width: calc(100% - 20px); */
    /* text-align: center; */
  }

  .section-support_idea {
    display: block;
    /* width: 500px; */
    padding-left: 10%;
    padding-right: 10%;
    margin: 0 auto;
    /* text-align: center; */
}
}
